@using Diyetisyenlik.Models.Entity


@{
    ViewBag.Title = "Diyet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Diyet Sayfasına Hoşgeldiniz</th>
        <th></th>

    </tr>
    <tbody>
       
    </tbody>
</table>

